@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.SuccessMessage != null)
{
    <div id="tempDataMessage" class="alert alert-success alert-dismissible fade show" role="alert">
        @ViewBag.SuccessMessage
    </div>
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


