@{
	ViewData["Title"] = "Chat";
}

<h2>Let's Chat!</h2>

<div id="messageArea">
	<!-- Messages will be displayed here -->
</div>

@* Need to correctly place username to left of inputmessage *@
@* <label id="test">@Model.UserName</label> *@
<div id="messageInput" class="message-placeholder" contenteditable="true" data-is-error="false"></div>

<button id="sendButton" class="btn btn-primary">Send</button>
<button id="emojiButton" class="btn btn-primary">😊</button>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
	@* handling '@' symbol in url with razor '@@' syntax below *@
	@Html.Raw("<script src='https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js'></script>")
	<script src="~/js/emoji-picker.js"></script>
	<script src="~/js/chat.js" asp-append-version="true"></script>

	<script>
		initializeChatSignalR();
		initializeEmojiPicker("emojiButton", "messageInput");
	</script>
}
